NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
CRON_SECRET=
HSL_R2_ACCOUNT_ID=
HSL_R2_BUCKET=
HSL_R2_ACCESS_KEY_ID=
HSL_R2_SECRET_ACCESS_KEY=
HSL_R2_JURISDICTION=default
